{% extends 'ecom/admin_base.html' %}
{% load static %}
{% block content %}


<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h6 class="panel-title">Total Suppliers</h6>
    </div>
    <table class="table table-hover table-bordered" id="dev-table">
      <thead>
        <tr>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone</th>
          <th>Actions</th>
        </tr>
      </thead>
      {% for c in customers %}
      <tr>
        <td>{{c.email}}</td>
        <td> {{c.first_name}}</td>
        <td> {{c.last_name}}</td>
        <td>{{c.phone_number}}</td>
        <td><a class="btn btn-primary btn-xs" href="{% url 'update-supplier' c.id  %}"><span class="glyphicon glyphicon-edit"></span></a>
        <a class="btn btn-danger btn-xs" href="{% url 'delete-supplier' c.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>

      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}
